{{#each stations}}
<div class="container">  
  <div class="box">
    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title has-text-primary">{{this.title}}</h1>
      </div>
      <div class="column is-narrow">
        <a href="/station/{{_id}}" class="button is-primary">
          {{>icons/open}}
        </a>
        <a href="/dashboard/deletestation/{{_id}}" class="button is-danger">
          {{>icons/delete}}
        </a>
      </div>
    </div>
    <div class="columns is-multiline" style="margin-top: 10px;">
      <!-- Station Location -->
      <div class="column mr-1 has-background-primary has-text-white">
        
          <h2 class="is-size-5">Station Location</h2>
          <p>Name: {{this.title}}</p>
          <p>Latitude: {{this.latitude}}째</p>
          <p>Longitude: {{this.longitude}}째</p>
        
      </div>
      <!-- Weather Code -->
       <div class="column mr-1 has-background-primary has-text-white">
          <h2 class="is-size-5">Weather Code</h2>
          <p>{{this.weatherCode}}</p> 
      </div>
      
      <!-- Temperature -->
       <div class="column mr-1 has-background-primary has-text-white">    
          <h2 class="is-size-5">Temp</h2>
          <p>Min Temp: {{this.minTemp}}째C</p>
          <p>Max Temp: {{this.maxTemp}}째C</p>     
      </div>
      
      <!-- Wind -->
       <div class="column mr-1 has-background-primary has-text-white">
          <h2 class="is-size-5">Wind</h2>
          <p>Direction: {{this.windDirection}}</p>
          <p>Min Speed: {{this.minWindSpeed}} m/s</p>
          <p>Max Speed: {{this.maxWindSpeed}} m/s</p>
        </div>
      
      <!-- Pressure -->
       <div class="column mr-1 has-background-primary has-text-white">
          <h2 class="is-size-5">Pressure</h2>
          <p>Min Pressure: {{this.minPressure}} atm</p>
          <p>Max Pressure: {{this.maxPressure}} atm</p>
        
      </div>
    </div>
  </div>

</div>
{{/each}}
