<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Location</th>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr>
      <td>{{location}}</td>
      <td>{{code}}</td>
      <td>{{temperature}}</td>
      <td>{{windDirection}}</td>
      <td>{{pressure}}</td>
       <td>
        <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button-is-danger">
          {{>icons/delete}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
