
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Location</th>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.reports}}
    <tr>
      <td>{{location}}</td>
      <td>{{code}}</td>
      <td>
       <select name="temperature-min" class="select">
  {{#each ../temperatureOptions}}
    <option value="{{this}}" {{#if (eq this ../minTemp)}}selected{{/if}}>{{this}}</option>
  {{/each}}
</select>

<!-- Dropdown for Maximum Temperature -->
<select name="temperature-max" class="select">
  {{#each ../temperatureOptions}}
    <option value="{{this}}" {{#if (eq this ../maxTemp)}}selected{{/if}}>{{this}}</option>
  {{/each}}
</select>
        </td>
      <td>{{windspeed}}</td>
      <td>{{pressure}}</td>
       <td>
        <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button-is-danger">
          {{>icons/delete}}
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>