{{#each stations}}
<div class="container">  
  <div class="box">
    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title has-text-primary">{{title}}</h1>
      </div>
      <div class="column is-narrow">
        <a href="/station/{{_id}}" class="button is-primary">
          {{>icons/open}}
        </a>
        <a href="/dashboard/deletestation/{{_id}}" class="button is-danger">
          {{>icons/delete}}
        </a>
      </div>
    </div>
    <div class="columns is-multiline" style="margin-top: 10px;">
      <!-- Station Location -->
      <div class="column mr-1 has-background-primary has-text-white">
        
          <h2 class="is-size-5">Station Location:</h2>
          <p>
          <img src=" https://cdn.glitch.global/63e2329c-8dad-4d95-baf1-edd58a099039/location.png?v=1725035682050" width="50" height="50">
        </p>
          <p>Name: {{station.title}}</p>
          <p>Latitude: {{station.latitude}}째</p>
          <p>Longitude: {{station.longitude}}째</p>
        
      </div>
      <!-- Weather Code -->
       <div class="column mr-1 has-background-primary has-text-white">
          <h2 class="is-size-5">Weather Code:</h2>
         <p>
           <img src="https://cdn.glitch.global/63e2329c-8dad-4d95-baf1-edd58a099039/droppers.png?v=1725038421098" width="50" height="50">
         </p>
          <p>{{this.weatherCode}}</p> 
      </div>
      
      <!-- Temperature -->
       <div class="column mr-1 has-background-primary has-text-white">    
          <h2 class="is-size-5">Temperature:</h2>
         <p>
           <img src="https://cdn.glitch.global/63e2329c-8dad-4d95-baf1-edd58a099039/thermometer.png?v=1725037301408" width="50" height="50">
         </p>
          <p>Min Temp: {{station.minTemp}}째C</p>
          <p>Max Temp: {{station.maxTemp}}째C</p>     
      </div>
      
      <!-- Wind -->
       <div class="column mr-1 has-background-primary has-text-white">
          <h2 class="is-size-5">Wind:</h2>
         <p>
           <img src="https://cdn.glitch.global/63e2329c-8dad-4d95-baf1-edd58a099039/wind.png?v=1725037704312" height="50" width="50">
         </p>
          <p>Direction: {{station.windDirection}}</p>
          <p>Min Speed: {{station.minWindSpeed}} m/s</p>
          <p>Max Speed: {{station.maxWindSpeed}} m/s</p>
        </div>
      
      <!-- Pressure -->
       <div class="column mr-1 has-background-primary has-text-white">
          <h2 class="is-size-5">Pressure:</h2>
         <p>
           <img src="https://cdn.glitch.global/63e2329c-8dad-4d95-baf1-edd58a099039/barometer.png?v=1725038182546" height="50" width="50">
         </p>
          <p>Min Pressure: {{station.minPressure}} atm</p>
          <p>Max Pressure: {{station.maxPressure}} atm</p>
        
      </div>
    </div>
  </div>

</div>
{{/each}}

