{{> menu active="dashboard"}}

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {{#each stations}}
      <div class="column is-one-quarter">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{this.title}}
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <p><strong>Code:</strong> {{this.code}}</p>
              <p><strong>Temperature:</strong> Min: {{this.minTemp}}°C, Max: {{this.maxTemp}}°C</p>
              <p><strong>Wind:</strong> Direction: {{this.windDirection}}, Min Speed: {{this.minWindSpeed}} m/s, Max Speed: {{this.maxWindSpeed}} m/s</p>
              <p><strong>Pressure:</strong> Min: {{this.minPressure}} atm, Max: {{this.maxPressure}} atm</p>
            </div>
          </div>
          <footer class="card-footer">
            <a href="/station/{{this._id}}" class="card-footer-item">View Reports</a>
          </footer>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
