{{> menu active="dashboard"}}

<section class="section">
  <div class="container">
    {{#each stations}}
    <div class="box">
      <h1 class="title">{{this.title}}</h1>
      <div class="columns">
        <!-- Station Location -->
        <div class="column">
          <div class="box has-background-dark has-text-white">
            <h2 class="is-size-4">Station Location</h2>
            <p>Name: {{this.title}}</p>
            <p>Latitude: {{this.latitude}}째</p>
            <p>Longitude: {{this.longitude}}째</p>
          </div>
        </div>
        <!-- Weather Code -->
        <div class="column">
          <div class="box has-background-dark has-text-white">
            <h2 class="is-size-4">Weather code</h2>
            <p>{{this.weatherCode}}</p>
          </div>
        </div>
        <!-- Temperature -->
        <div class="column">
          <div class="box has-background-dark has-text-white">
            <h2 class="is-size-4">Temp</h2>
            <p>Min Temp: {{this.minTemp}}째C</p>
            <p>Max Temp: {{this.maxTemp}}째C</p>
          </div>
        </div>
        <!-- Wind -->
        <div class="column">
          <div class="box has-background-dark has-text-white">
            <h2 class="is-size-4">Wind</h2>
            <p>Wind Direction: {{this.windDirection}}</p>
            <p>Min Wind Speed: {{this.minWindSpeed}} m/s</p>
            <p>Max Wind Speed: {{this.maxWindSpeed}} m/s</p>
          </div>
        </div>
        <!-- Pressure -->
        <div class="column">
          <div class="box has-background-dark has-text-white">
            <h2 class="is-size-4">Pressure</h2>
            <p>Min Pressure: {{this.minPressure}} atm</p>
            <p>Max Pressure: {{this.maxPressure}} atm</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
