{{> menu active="dashboard"}}

<section class="section">
  <div class="container">
    {{#each stations}}
    <div class="box">
      <!-- Station Title and Icons -->
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="title has-text-primary">{{this.title}}</h1>
        </div>
        <div class="column is-narrow">
          <a href="/station/{{this._id}}" class="button is-info">
            <span class="icon">
              <i class="fas fa-folder-open"></i>
            </span>
          </a>
          <button class="button is-danger">
            <span class="icon">
              <i class="fas fa-trash-alt"></i>
            </span>
          </button>
        </div>
      </div>

      <!-- Station Details in Boxes -->
      <div class="columns is-multiline">
        <!-- Station Location -->
        <div class="column is-one-fifth">
          <div class="box has-background-dark has-text-white">
            <h2 class="is-size-5">Station Location</h2>
            <p>Name: {{this.title}}</p>
            <p>Latitude: {{this.latitude}}째</p>
            <p>Longitude: {{this.longitude}}째</p>
          </div>
        </div>
        <!-- Weather Code -->
        <div class="column is-one-fifth">
          <div class="box has-background-dark has-text-white">
            <h2 class="is-size-5">Weather Code</h2>
            <p>{{this.weatherCode}}</p>
          </div>
        </div>
        <!-- Temperature -->
        <div class="column is-one-fifth">
          <div class="box has-background-dark has-text-white">
            <h2 class="is-size-5">Temp</h2>
            <p>Min Temp: {{this.minTemp}}째C</p>
            <p>Max Temp: {{this.maxTemp}}째C</p>
          </div>
        </div>
        <!-- Wind -->
        <div class="column is-one-fifth">
          <div class="box has-background-dark has-text-white">
            <h2 class="is-size-5">Wind</h2>
            <p>Direction: {{this.windDirection}}</p>
            <p>Min Speed: {{this.minWindSpeed}} m/s</p>
            <p>Max Speed: {{this.maxWindSpeed}} m/s</p>
          </div>
        </div>
        <!-- Pressure -->
        <div class="column is-one-fifth">
          <div class="box has-background-dark has-text-white">
            <h2 class="is-size-5">Pressure</h2>
            <p>Min Pressure: {{this.minPressure}} atm</p>
            <p>Max Pressure: {{this.maxPressure}} atm</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
